###############
### Android ###
###############
*.apk
*.ap_
*.class
*.dex
*.iml
*.iws
*.log
/.gradle
/.idea/**
!/.idea/codeStyles/
!/.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
!/.idea/inspectionProfiles/
!/.idea/inspectionProfiles/Project_Default.xml
/.navigation
/bin
/build
/captures
/gen
/out/**
/proguard
local.properties
/lint/reports/**
realm_version_check.timestamp
fastlane/README.md
fastlane/report.xml

###############
### Windows ###
###############
$RECYCLE.BIN/
*.cab
*.lnk
*.msi
*.msm
*.msp
Desktop.ini
ehthumbs.db
Thumbs.db

###############
###  Linux  ###
###############
*~
.directory
.fuse_hidden*
.Trash-*

###############
###  MacOS  ###
###############
._*
.AppleDouble
*.DS_Store
.LSOverride